<div class="container">
  <div class="row">
    <div class="col-5">
      <br><h5><span class="bg-light">管理者ログイン</span></h5>
    </div>
    <div class="col-7">
    </div>
  </div>
  <br>
<%= form_with model: @admin, url: admin_session_path  do |f| %>
<table align="center">
  <tbody>
    <tr>
      <td><%= f.label :メールアドレス　　　 %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %></td>
    </tr>
    <tr>
      <td><%= f.label :パスワード　　　 %></td>
      <td><%= f.password_field :password, autocomplete: "password", size: 50 %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "ログイン", class: "btn btn-secondary" %></td>
    </tr>
  </tbody>
</table>
<% end %>

<%= render "admin/shared/links" %>
