<div class="container">
<h4>注文情報入力</h4>
<%= form_with model: @order, url: public_orders_comfirm_path, method: :post do |o| %>
<h5><strong>支払方法</strong></h5>
<%= o.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
<%= o.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
<%= o.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= o.label :payment_method, Order.payment_methods_i18n[:transfer] %>
<h5><strong>お届け先</strong></h5>
<%= o.radio_button :select_address, 0, checked: true %><%= o.label :select_address, "ご自身の住所" %><br>
<%= current_customer.address_display %><br>
<%= current_customer.fullname %><br>
<br>
<%= o.radio_button :select_address, "1" %><%= o.label :select_address, "登録済み住所から選択" %><br>
   <%= o.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display), prompt: "--選択して下さい--" %><br>
<br>
<%= o.radio_button :select_address, "2" %><%= o.label :select_address, "新しいお届け先" %><br>
<table>
   <tr>
      <td><%= o.label :postal_code, "郵便番号（ハイフンなし）" %></td>
      <td><%= o.text_field :postal_code %></td>
   </tr>
   <tr>
      <td><%= o.label :address, "住所" %></td>
      <td><%= o.text_field :address, size: "60" %></td>
   </tr>
   <tr>
      <td><%= o.label :name, "宛名" %></td>
      <td><%= o.text_field :name %></td>
   </tr>
</table>
<div style="text-align:center;"><%= o.submit "確認画面へ進む" %></div>
<% end %>
</div>
