<div class="container">
  <div class="row">
    <div class="col-2 px-0">
      <table align="center">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <% @genres.each do |gs| %>
        <tr>
          <td><%= gs.name %><td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-10">
      <h5><big><strong>商品一覧</strong></big>(全<%= @item_all.count %>件)</h5>
      <div class="row">
      <% @items.each do |is| %>
      <div style="margin:10px;">
      <div style="text-align:center; width:200; height:200;">
      <%= link_to public_item_path(is.id) do %>
      <%= image_tag is.get_image(200,150)%>
      <% end %>
      </div>
      <div><%= is.name %></div>
      <div>¥<%= is.with_tax_price %></div>
      </div>
      <% end %>
      </div>
      <div style="text-align:center;"><%= paginate @items %></div>
    </div>
  </div>
</div>