<div class="container">
  <div class="row">
    <div class="col-2 px-0">
      <table align="center">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <% @genres.each do |gs| %>
        <tr>
          <td><%= gs.name %><td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-10">
      <div class="row">
      <div style="margin:10px;">
      <%= image_tag @item.get_image(400,300) %>
      </div>
      <div style="margin:10px;">
        <h5><strong><%= @item.name %></strong></h5><br>
        <%= @item.introduction %><br><br>
        <strong>¥<%= @item.with_tax_price.to_s(:delimited) %></strong>(税込)<br><br>
        <% if customer_signed_in? %>
         <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |ci| %>
         <%= ci.hidden_field :item_id, :value => @item.id %><%= ci.select :amount, *[1..5], prompt: "個数を選択" %>　　　<%= ci.submit "カートに入れる"%>
         <% end %>
        <% end %>

      </div>
      </div>
    </div>
  </div>
</div>